html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  background: #132B37;
  color: #91989F;
  font-family: arial, sans-serif;
  font-weight: bold;
}
body::before {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background: no-repeat center/cover url(../img/hero.jpg);
  content: "";
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

.l-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 300;
}

.l-main {
  margin-top: 70px;
  opacity: 1;
  visibility: visible;
  transition: visibility 0.3s, opacity 0.3s;
}
.l-main.is-open {
  opacity: 0;
  visibility: hidden;
}
.l-main__title {
  height: 220px;
  width: 91.6vw;
  max-width: 430px;
  padding-top: 40px;
}
@media (min-width: 769px) {
  .l-main__title {
    height: 240px;
    max-width: 500px;
    margin-left: 50px;
    font-size: 38px;
  }
}
.l-main__title--single {
  height: auto;
  padding-top: 10px;
  margin-bottom: 50px;
}

.l-footer {
  margin-bottom: 10px;
  text-align: center;
}
.l-footer__copyright {
  padding: 10px;
  font-size: 12px;
}

.c-inner {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (min-width: 769px) {
  .c-inner {
    padding: 0 25px;
  }
}

.c-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  background: rgba(23, 33, 35, 0.8);
  border-radius: 15px;
}
@media (min-width: 769px) {
  .c-section {
    margin-bottom: 50px;
  }
}
.c-section__title {
  padding: 30px 0;
}

.c-tag {
  padding: 1px 3px;
  margin-left: 5px;
  border-radius: 5px;
  color: #E5E2E4;
  opacity: 0.8;
}
.c-tag--red {
  background: #DF3545;
}
.c-tag--blue {
  background: #17A2B8;
}
.c-tag--green {
  background: #28A745;
}

.c-link {
  cursor: pointer;
}
.c-link--button {
  display: inline-block;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  background: lightgray;
  color: black;
}

.p-gmenu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 70px;
}
.p-gmenu__list {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: top 0.5s, opacity 0.5s;
}
@media (min-width: 769px) {
  .p-gmenu__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: static;
    height: 70px;
    opacity: 1;
    visibility: visible;
    transition: top 0.5s;
  }
}
.p-gmenu__list > li {
  position: relative;
}
@media (min-width: 769px) {
  .p-gmenu__list > li:not(:last-child)::after {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    content: "";
    height: 1em;
    margin: auto;
    border-left: 2px solid;
    transform: rotate(20deg);
  }
}
.p-gmenu__list > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  font-size: 18px;
}
@media (min-width: 769px) {
  .p-gmenu__list > li > a {
    padding: 0 10px;
  }
}
.p-gmenu.is-open .p-gmenu__list {
  top: 70px;
  opacity: 1;
  visibility: visible;
}

.p-hamburger {
  width: 30px;
  height: 50px;
  position: relative;
}
@media (min-width: 769px) {
  .p-hamburger {
    display: none;
  }
}
.p-hamburger::before, .p-hamburger::after {
  display: block;
  position: absolute;
  left: calc(50% - 15px);
  width: 30px;
  height: 2px;
  background: #91989F;
  content: "";
  transition: transform 0.5s;
}
.p-hamburger::before {
  top: calc(25% - 1px);
}
.p-hamburger::after {
  top: calc(75% - 1px);
}
.p-hamburger > span {
  position: absolute;
  left: calc(50% - 15px);
  top: calc(50% - 1px);
  width: 30px;
  height: 2px;
  background: #91989F;
  font-size: 0;
  transition: transform 0.5s;
}
.p-hamburger.is-open::before {
  transform: rotate(45deg);
  top: calc(50% - 1px);
}
.p-hamburger.is-open::after {
  transform: rotate(-45deg);
  top: calc(50% - 1px);
}
.p-hamburger.is-open > span {
  background: none;
}

.p-about__contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 0 5.33vw 30px;
}
@media (min-width: 769px) {
  .p-about__contents {
    flex-direction: row;
  }
}
.p-about__contents__icon {
  display: block;
  height: 130px;
  width: 130px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 50%;
}
@media (min-width: 769px) {
  .p-about__contents__icon {
    margin-bottom: 0;
  }
}
.p-works__contents {
  position: relative;
  width: 100%;
  margin-bottom: 40px;
  padding: 0 10px;
}
@media (min-width: 769px) {
  .p-works__contents {
    padding: 0 25px;
  }
}
.p-works__contents__card {
  height: 100%;
  width: 100%;
}
.p-works__contents__card__thumbnail {
  width: 100%;
  aspect-ratio: 16/9;
}
.p-works__contents__card__thumbnail > img {
  width: 100%;
  height: 100%;
  border-radius: 5px 5px 0 0;
  object-fit: cover;
}
.p-works__contents__card__title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  height: 10vw;
  margin: 1vw 5px;
  font-size: min(3.5vw, 20px);
  line-height: 1.4;
}
@media (min-width: 601px) {
  .p-works__contents__card__title {
    font-size: 16px;
    line-height: normal;
  }
}
@media (min-width: 769px) {
  .p-works__contents__card__title {
    height: 5.5vw;
    max-height: 55px;
    margin: min(0.6vw, 7px) 10px;
    font-size: min(1.8vw, 16px);
  }
}
.p-works__contents__card__info {
  display: flex;
  justify-content: space-between;
  margin: 0 5px;
  font-size: max(2.19vw, 10px);
}
@media (min-width: 769px) {
  .p-works__contents__card__info {
    margin: 0 10px;
    font-size: min(1.4vw, 14px);
  }
}

.p-single {
  align-items: start;
  padding: 0 10px 15px;
  background: rgba(23, 33, 35, 0.9);
  line-height: 1.5em;
}
@media (min-width: 769px) {
  .p-single {
    padding: 0 15px 20px;
  }
}
.p-single__thumbnail {
  width: 100%;
  margin: 10px 0;
  aspect-ratio: 16/9;
}
@media (min-width: 769px) {
  .p-single__thumbnail {
    max-width: 650px;
  }
}
.p-single__thumbnail > img {
  width: 100%;
  height: 100%;
  border-radius: 5px 5px 0 0;
  object-fit: cover;
}
.p-single > h1 {
  padding: 0.4em 0.5em;
  margin: 20px 0 10px;
  background: rgba(37, 101, 113, 0.2);
  border-left: solid 5px rgba(37, 101, 113, 0.5);
}
.p-single > h2 {
  padding: 0.3em;
  margin: 15px 0 5px;
  background: rgba(37, 101, 113, 0.2);
  border-bottom: solid 3px rgba(37, 101, 113, 0.5);
}
.p-single > p {
  margin: 10px 0;
}

.p-pagenation {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
}
.p-pagenation a {
  text-decoration: underline;
}
.p-pagenation__prev {
  display: list-item;
  margin-left: 0;
  margin-right: auto;
}
@media (min-width: 769px) {
  .p-pagenation__prev {
    display: none;
  }
}
.p-pagenation__prev--pc {
  display: none;
}
@media (min-width: 769px) {
  .p-pagenation__prev--pc {
    display: list-item;
  }
}
.p-pagenation__next {
  display: list-item;
  margin-left: auto;
  margin-right: 0;
}
@media (min-width: 769px) {
  .p-pagenation__next {
    display: none;
  }
}
.p-pagenation__next--pc {
  display: none;
}
@media (min-width: 769px) {
  .p-pagenation__next--pc {
    display: list-item;
  }
}

.p-skill {
  padding-bottom: 10px;
}
.p-skill__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 600px;
}
.p-skill__list__item {
  display: block;
  height: 90px;
  width: 90px;
  padding: 5px;
  margin: 0 10px 20px;
  border-radius: 10%;
  background: rgba(37, 101, 113, 0.5);
  text-align: center;
  transition: background 0.2s;
}
.p-skill__list__item:hover {
  background: rgba(37, 101, 113, 0.9);
}
.p-skill__list__item > button {
  width: 100%;
  color: inherit;
}
.p-skill__list__item > button > img {
  height: 60px;
  width: 60px;
  object-fit: cover;
}
.p-skill__list__item > button > p {
  font-size: 14px;
}

.p-modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.p-modal__window {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 75%;
  max-width: 500px;
  max-height: 400px;
  background: rgb(37, 101, 113);
  overflow-y: auto;
  transform: translate(-50%, -50%);
  animation: modalopen 0.3s linear 0s;
  box-shadow: 0px 2px 6px #777;
  border-radius: 10px;
}
@media (min-width: 769px) {
  .p-modal__window {
    width: 90%;
  }
}
.p-modal__window__clbtn {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 50px;
  color: #132B37;
  text-decoration: none;
}
.p-modal__window__clbtn > span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  font-size: 50px;
}
.p-modal__window__clbtn > span:hover, .p-modal__window__clbtn > span:focus {
  text-decoration: none;
  cursor: pointer;
}
.p-modal__window__contents {
  padding: 0 20px 15px;
  text-align: center;
}
@media (min-width: 769px) {
  .p-modal__window__contents {
    padding: 0 25px 25px;
  }
}
.p-modal__window__contents > img {
  height: 80px;
  width: 80px;
}
.p-modal__window__contents > h3 {
  margin-bottom: 15px;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.p-contact__form {
  width: 100%;
  max-width: 600px;
  padding: 0 15px;
}
.p-contact__form__label {
  display: inline-block;
  padding-bottom: 5px;
  margin-top: 25px;
}
.p-contact__form__input {
  height: 30px;
  width: 100%;
  border-radius: 5px;
  background: rgba(50, 53, 54, 0.9);
  color: lightgray;
}
.p-contact__form__message {
  height: 180px;
  width: 100%;
  border-radius: 5px;
  background: rgba(50, 53, 54, 0.9);
  color: lightgray;
}
.p-contact__form__submit {
  display: block;
  height: 40px;
  width: 110px;
  margin: 15px auto 25px;
  border-radius: 10px;
  background: rgba(37, 101, 113, 0.8);
  color: inherit;
}

.p-error {
  height: 100vh;
  padding-top: 150px;
  text-align: center;
}
.p-error__title {
  font-size: 100px;
}
.p-error__text {
  font-size: 22px;
}

.u-pt-0px {
  margin-top: 0px;
}

.u-pb-0px {
  padding-bottom: 0px;
}

.u-pt-5px {
  margin-top: 5px;
}

.u-pb-5px {
  padding-bottom: 5px;
}

.u-pt-10px {
  margin-top: 10px;
}

.u-pb-10px {
  padding-bottom: 10px;
}

.u-pt-15px {
  margin-top: 15px;
}

.u-pb-15px {
  padding-bottom: 15px;
}

.u-pt-20px {
  margin-top: 20px;
}

.u-pb-20px {
  padding-bottom: 20px;
}

.u-pt-25px {
  margin-top: 25px;
}

.u-pb-25px {
  padding-bottom: 25px;
}

.u-pt-30px {
  margin-top: 30px;
}

.u-pb-30px {
  padding-bottom: 30px;
}

.u-pt-35px {
  margin-top: 35px;
}

.u-pb-35px {
  padding-bottom: 35px;
}

.u-pt-40px {
  margin-top: 40px;
}

.u-pb-40px {
  padding-bottom: 40px;
}

.u-pt-45px {
  margin-top: 45px;
}

.u-pb-45px {
  padding-bottom: 45px;
}

.u-pt-50px {
  margin-top: 50px;
}

.u-pb-50px {
  padding-bottom: 50px;
}

.u-pt-55px {
  margin-top: 55px;
}

.u-pb-55px {
  padding-bottom: 55px;
}

.u-pt-60px {
  margin-top: 60px;
}

.u-pb-60px {
  padding-bottom: 60px;
}

.u-pt-65px {
  margin-top: 65px;
}

.u-pb-65px {
  padding-bottom: 65px;
}

.u-pt-70px {
  margin-top: 70px;
}

.u-pb-70px {
  padding-bottom: 70px;
}

.u-pt-75px {
  margin-top: 75px;
}

.u-pb-75px {
  padding-bottom: 75px;
}

.u-pt-80px {
  margin-top: 80px;
}

.u-pb-80px {
  padding-bottom: 80px;
}

.u-pt-85px {
  margin-top: 85px;
}

.u-pb-85px {
  padding-bottom: 85px;
}

.u-pt-90px {
  margin-top: 90px;
}

.u-pb-90px {
  padding-bottom: 90px;
}

.u-pt-95px {
  margin-top: 95px;
}

.u-pb-95px {
  padding-bottom: 95px;
}

.u-pt-100px {
  margin-top: 100px;
}

.u-pb-100px {
  padding-bottom: 100px;
}
/*# sourceMappingURL=portfolio.css.map */
