html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  background: #132B37;
  color: #91989F;
  font-family: arial, sans-serif;
  font-weight: bold;
}
body::before {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background: no-repeat center/cover url(../img/hero.jpg);
  content: "";
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

.l-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.l-main {
  margin-top: 70px;
  opacity: 1;
  visibility: visible;
  transition: visibility 0.3s, opacity 0.3s;
}
.l-main.is-open {
  opacity: 0;
  visibility: hidden;
}
.l-main__title {
  height: 220px;
  width: 91.6vw;
  max-width: 430px;
  padding-top: 40px;
}
@media (min-width: 769px) {
  .l-main__title {
    height: 240px;
    max-width: 500px;
    margin-left: 50px;
    font-size: 38px;
  }
}

.l-footer {
  margin-bottom: 10px;
  text-align: center;
}
.l-footer__copyright {
  padding: 10px;
  font-size: 12px;
}

.c-inner {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (min-width: 769px) {
  .c-inner {
    padding: 0 25px;
  }
}

.c-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  background: rgba(23, 33, 35, 0.8);
  border-radius: 15px;
}
@media (min-width: 769px) {
  .c-section {
    margin-bottom: 50px;
  }
}
.c-section__title {
  padding: 30px 0;
}

.c-tag {
  padding: 1px 3px;
  margin-left: 5px;
  border-radius: 5px;
  color: #E5E2E4;
  opacity: 0.8;
}
.c-tag--red {
  background: #DF3545;
}
.c-tag--blue {
  background: #17A2B8;
}
.c-tag--green {
  background: #28A745;
}

.p-gmenu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 70px;
}
.p-gmenu__list {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: top 0.5s, opacity 0.5s;
}
@media (min-width: 769px) {
  .p-gmenu__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: static;
    height: 70px;
    opacity: 1;
    visibility: visible;
    transition: top 0.5s;
  }
}
.p-gmenu__list > li {
  position: relative;
}
@media (min-width: 769px) {
  .p-gmenu__list > li:not(:last-child)::after {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    content: "";
    height: 1em;
    margin: auto;
    border-left: 2px solid;
    transform: rotate(20deg);
  }
}
.p-gmenu__list > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  font-size: 18px;
}
@media (min-width: 769px) {
  .p-gmenu__list > li > a {
    padding: 0 10px;
  }
}
.p-gmenu.is-open .p-gmenu__list {
  top: 70px;
  opacity: 1;
  visibility: visible;
}

.p-hamburger {
  width: 30px;
  height: 50px;
  position: relative;
}
@media (min-width: 769px) {
  .p-hamburger {
    display: none;
  }
}
.p-hamburger::before, .p-hamburger::after {
  display: block;
  position: absolute;
  left: calc(50% - 15px);
  width: 30px;
  height: 2px;
  background: #91989F;
  content: "";
  transition: transform 0.5s;
}
.p-hamburger::before {
  top: calc(25% - 1px);
}
.p-hamburger::after {
  top: calc(75% - 1px);
}
.p-hamburger > span {
  position: absolute;
  left: calc(50% - 15px);
  top: calc(50% - 1px);
  width: 30px;
  height: 2px;
  background: #91989F;
  font-size: 0;
  transition: transform 0.5s;
}
.p-hamburger.is-open::before {
  transform: rotate(45deg);
  top: calc(50% - 1px);
}
.p-hamburger.is-open::after {
  transform: rotate(-45deg);
  top: calc(50% - 1px);
}
.p-hamburger.is-open > span {
  background: none;
}

.p-about__contents {
  display: flex;
  max-width: 800px;
  margin: 0 5.33vw 30px;
}
.p-about__contents__icon {
  display: block;
  height: 130px;
  width: 130px;
  margin-right: 20px;
  border-radius: 50%;
}
.p-works__contents {
  position: relative;
  width: 100%;
  margin-bottom: 40px;
  padding: 0 10px;
}
@media (min-width: 769px) {
  .p-works__contents {
    padding: 0 25px;
  }
}
.p-works__contents__card {
  height: 100%;
  width: 100%;
}
.p-works__contents__card__thumbnail {
  width: 100%;
  aspect-ratio: 16/9;
}
.p-works__contents__card__thumbnail > img {
  width: 100%;
  height: 100%;
  border-radius: 5px 5px 0 0;
  object-fit: cover;
}
.p-works__contents__card__title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  height: 10vw;
  margin: 1vw 5px;
  font-size: min(3.5vw, 18px);
}
@media (min-width: 769px) {
  .p-works__contents__card__title {
    height: 5.5vw;
    max-height: 55px;
    margin: 0.6vw 10px;
    font-size: min(1.6vw, 16px);
  }
}
.p-works__contents__card__info {
  display: flex;
  justify-content: space-between;
  margin: 0 5px;
  font-size: max(2.19vw, 10px);
}
@media (min-width: 769px) {
  .p-works__contents__card__info {
    margin: 0 10px;
    font-size: min(1.4vw, 14px);
  }
}

.p-skill {
  padding-bottom: 10px;
}
.p-skill__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 600px;
}
.p-skill__list__item {
  display: block;
  height: 90px;
  width: 90px;
  padding: 5px;
  margin: 0 10px 20px;
  border-radius: 10%;
  background: rgba(37, 101, 113, 0.5);
  text-align: center;
}
.p-skill__list__item > img {
  height: 60px;
  width: 60px;
  object-fit: cover;
}
.p-skill__list__item > p {
  font-size: 14px;
}

.p-contact__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  padding: 0 15px;
}
.p-contact__form__label {
  padding-bottom: 5px;
}
.p-contact__form__input {
  height: 30px;
  margin-bottom: 25px;
  border-radius: 5px;
  background: rgba(50, 53, 54, 0.9);
  color: lightgray;
}
.p-contact__form__message {
  height: 180px;
  margin-bottom: 25px;
  border-radius: 5px;
  background: rgba(50, 53, 54, 0.9);
  color: lightgray;
}
.p-contact__form__submit {
  height: 40px;
  width: 110px;
  margin: 0 auto 25px;
  border-radius: 10px;
  background: rgba(37, 101, 113, 0.8);
  color: inherit;
}
/*# sourceMappingURL=style.css.map */
