@use "../../foundation/mixin";
@use "../../foundation/variable";


.c-link {
  @include mixin.dbg-border(yellow, 3, 1);
  cursor: pointer;

  &--button {
    display: inline-block;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    background: lightgray;
    color: black;
  }
}
