@use "../../foundation/mixin";
@use "../../foundation/variable";


.p-error {
  @include mixin.dbg-border(blue, 3, 1);
  height: 100vh;
  padding-top: 150px;
  text-align: center;

  &__title {
    font-size: 100px;
  }

  &__text {
    font-size: 22px;
  }
}


