@use "../foundation/mixin";
@use "../foundation/variable";


.l-header {
  @include mixin.dbg-border(red, 5, 1);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0; // fixedの位置指定
  left: 0; // fixedの位置指定
  height: variable.$header-height;
  width: 100%;

}


