@use "../foundation/mixin";
@use "../foundation/variable";


.l-header {
  @include mixin.dbg-border(red, 3, 1);
  position: fixed;
  top: 0; // fixedの位置指定
  left: 0; // fixedの位置指定
  width: 100%;
  z-index: 300;
}


