@use "../foundation/mixin";
@use "../foundation/variable";


.l-main {
  @include mixin.dbg-border(red, 3, 1);
  margin-top: variable.$header-height;
  opacity: 1;
  visibility: visible;
  transition: visibility .3s, opacity .3s;

  &.is-open {
    opacity: 0;
    visibility: hidden;
  }

  &__title {
    @include mixin.dbg-border(red, 3, 1);
    min-height: 220px;
    padding-top: 40px;

    @include mixin.breakpoint("pc") {
      min-height: 240px;
      font-size: 38px;
    }
  }
}


