@use "../foundation/mixin";
@use "../foundation/variable";


.l-main {
  @include mixin.dbg-border(red, 3, 1);
  margin-top: variable.$header-height;
  opacity: 1;
  visibility: visible;
  transition: visibility .3s, opacity .3s;

  &.is-open {
    opacity: 0;
    visibility: hidden;
  }

  &__title {
    @include mixin.dbg-border(red, 3, 1);
    height: 220px;
    width: 91.60vw; // ityped 改行制御
    max-width: 430px; // ityped 改行制御
    padding-top: 40px;

    @include mixin.breakpoint("pc") {
      height: 240px;
      max-width: 500px; // ityped 改行制御
      font-size: 38px;
    }
  }
}


